<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<form method="POST" th:action="@{/logout}" id="logoutForm">
    <input type="submit" value="Logout"/>
</form>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${gmdata} and ${gmdata.size()}"></p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Weight</th>
    </tr>

    <tr th:each="gm : ${gmdata}">
        <td th:text="${gm.name}"></td>
        <td th:text="${gm.description}"></td>
        <td th:text="${gm.weight}"></td>
    </tr>

</table>

</body>
</html>