<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <div th:each="gm : ${gmdata}" class="checkbox">
        <input type="checkbox" name="gmIds" th:value="${gm.gmId}" th:id="${gm.gmId}"/>
        <label th:for="${gm.gmId}" th:text="${gm.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove GlucoseMonitor" />
</form>

</body>
</html>