<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Glucose Monitor</title>

    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />


</head>
<body>

<nav th:fragment="navigation">
    <a href="/gm">List</a> |
    <a href="/gm/add">Create Record</a> |
    <a href="/gm/remove">Remove</a> |
</nav>

</body>
</html>